<%= turbo_frame_tag dom_id(project) do %>
  <div class="card card-body bg-info text-white">
    <div class ="d-flex justify-content-between">
      <div>
        <p><%= link_to "#{project.content}", project_path(project), class:"nav-link", data: {turbo: false} %></p>
        <%= button_to "vote:#{project.vote}", project_votes_path(project), class:"btn btn-sm btn-primary", method: :post %>
      </div>
      <div>
        <%= link_to "edit", edit_project_path(project) %>
        <%= button_to "delete", project, method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}, class:"btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
