<p style="color: green"><%= notice %></p>

<%= render @project %>
<div class="content mt-2 mb-2">
  <%= render "tasks/form", task: @tasks %>
  <%= turbo_stream_from "tasks" %>
  <%= turbo_frame_tag "tasks" do %>
    <%= render @tasks %>
  <% end %>
</div>

