<p style="color: green"><%= notice %></p>

<%= render @project %>

<div class="content mt-2 mb-2">
  <%= turbo_frame_tag "task_form" do %>
    <%= render "tasks/form", task: @task %>
  <% end %>
  <%= turbo_stream_from "tasks" %>
  <%= turbo_frame_tag "tasks" do %>
    <%= render @project.tasks.order(created_at: :desc) %>
  <% end %>
</div>

